 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Fundadores
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/">Home</a>
                    </li>
                    <li class="active">Fundadores</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->


        <!-- Intro Content -->
        <div class="fundador">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/gilberto.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>Gilberto Gomes Barbosa</h2>
                <p>Gilberto Gomes Barbosa, Fundador da Comunidade Obra de Maria, é nascido a 12/04/1968, no município de Surubim, Pernambuco, num lugarejo chamado Boca de Dois Rios.</p>
                <p>Em 1985, quando já morava em Recife/PE, teve o primeiro contato com a Renovação Carismática Católica, cinco anos antes de fundar a Obra de Maria. A Comunidade, que antes consistia-se de um pequeno grupo de 7 jovens que acreditaram neste sonho de Deus, hoje tem seu carisma internacionalmente reconhecido.</p>
            </div>
        </div>
        </div>

                <hr>


         <!-- Intro Content -->
        <div class="fundador">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/salome.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>Maria Salomé Ventura</h2>
                <p>Maria Salomé Ventura, Co-Fundadora da Comunidade Obra de Maria, é paraibana, nascida na cidade de Monteiro. Maria Salomé em uma filha, Rebeca, e mora junto com sua mãe Maria Rosa e sua irmã Conceição. Juntas formam mais uma família de nossa Comunidade. Participa da Renovação Carismática Católica desde 1987 e é membro da AILA (Academia Internacional de Literatura e Arte).</p>
                 <p>É formada em Turismo pela Universidade Católica de Brasília, Psicanalista Clínica e Pós-graduada em Psicanálise. É escritora e pregadora de Retiros e Congressos.</p>
                
            </div>
        </div>
        </div>
        <!-- /.row -->
