<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- aparecerá somente em dispositivos mobile -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Nome da empresa ou titulo do site para os dispositivos mobile -->
            <a class="navbar-brand" href="index.html">EmpresaSA</a>
        </div>
        <!-- nossos menu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- cada linha é um item do menu -->
                <li><a href="#/">Home</a></li>
                <li><a href="#/comunidade">Comunidade</a></li>
                <li><a href="#/carisma">Carsma</a></li>
                <li><a href="#/vocação">Vocação</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- /.carroussel -->
<!-- /.carroussel -->

<div class="container">
<div class="value">

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive img-full" src="img/san.png" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="img/grupo.png" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="img/medalhas.png" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="" data-target="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="" data-target="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- container -->
</div>
</div>


<!-- /.carroussel -->
<!-- /.carroussel -->

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Sobre
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Gilberto Gomes Baebosa</h4>
                    </div>
                    <div class="panel-body">
                        <p>Gilberto Gomes Barbosa, Fundador da Comunidade Obra de Maria, é nascido a 12/04/1968, no município de Surubim, Pernambuco, num lugarejo chamado Boca de Dois Rios.Em 1985, quando já morava em Recife/PE, teve o primeiro contato com a RCC. </p>
                        <a href="#" class="btn btn-default">Leia mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Maria Salomé </h4>
                    </div>
                    <div class="panel-body">
                        <p>Maria Salomé Ventura, Co-Fundadora da Comunidade Obra de Maria, é paraibana, nascida na cidade de Monteiro. Maria Salomé em uma filha, Rebeca, e mora junto com sua mãe Maria Rosa e sua irmã Conceição. Juntas formam mais uma família de nossa Comunidade.</p>
                        <a href="#" class="btn btn-default">Leia Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Missão São Miguel</h4>
                    </div>
                    <div class="panel-body">
                        <p>A casa de missão São Miguel da Comunidade Obra de Maria, foi fundada em abril de 2004. Inicialmente era uma casa de missão que abrigava alguns missionários que optaram pela vida missionária interna, na época chamada de comunidade de vida, atualmente .. </p>
                        <a href="#" class="btn btn-default">Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        </div>
    </div>
    <!-- /.container -->

    